    {{#unless (isAuxiliaryPage)}}
        {{!-- The footer at the very bottom --}}
         <footer class="site-footer">
            <div class="site-footer-inner">
                <section class="copyright"><a href="{{site.url}}">{{site.title}}</a> &copy; {{now format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    {{#if site.github}}<a href="{{github_url site.github}}" target="_blank" rel="noopener">{{> "icons/github"}}</a>{{/if}}
                    {{!-- {{#if site.twitter}}<a href="{{twitter_url site.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>{{/if}}
                    {{#if site.facebook}}<a href="{{facebook_url site.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>{{/if}} --}}
                    {{#if site.linkedin}}<a href="{{linkedin_url site.linkedin}}" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>{{/if}}
                    <a href="{{feed_url}}" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
                </nav>
            </div>
        </footer>
    {{/unless}}

    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="{{asset "theme.js"}}"></script>

    {{#if (isPostOrPage)}}
<script>
  $(function () {
    var $postContent = $(".post-content");
    $postContent.fitVids();
  });
</script>
    {{/if}}

    {{#unless (isAuxiliaryPage)}}
    {{> analytics}}
    {{/unless}}

</body>
</html>